/* // https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-weight: inherit;


}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
    list-style-type: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}


html,
body {
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;

}

ul {
    list-style: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


:root {
    --clr-bg-100: #f9fdf6;
    --clr-bg-200: #e6fada;
    --clr-bg-500: #4C714D;

    --clr-text-100: #F0FFE7;
    --clr-text-200: #DEF6CF;
    --clr-text-500: #4C714D;
    --clr-text-900: #163116;

    --clr-accent-warm: #F55C69;
    --clr-accent-cool: #6C63FF;



    --ff-primary: 'Poppins', sans-serif;

    --fw-thin: 100;
    --fw-extralight: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;
    --fw-black: 900;

    --fs-400: 1rem;
    --fs-500: 1.1rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 2.5rem;
    --fs-900: 4rem;

}

/* custom scroll bar */
/* width */


::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--clr-bg-200)
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--clr-text-500)
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--clr-text-900)
  }


* {
    /* border: 1px solid #92af80; */
    font-family: var(--ff-primary);
    
}

body {
    background-color: var(--clr-bg-100);
    color: var(--clr-text-900);
    font-weight: var(--fw-light);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}



header {
    background-color: var(--clr-bg-200);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--clr-bg-500);
}

footer {
    margin-top: auto;
    background-color: var(--clr-bg-500);
    color: var(--clr-text-200);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1rem;
    gap: 2rem;
}

/* specific styling */
h1 {
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
}

h2 {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
}
h3 {
    font-size: var(--fs-600);
    font-weight: var(--fw-regular);
}

p {
    font-size: var(--fs-400);
    font-weight: var(--fw-light);
    margin-bottom: 0.5rem;
}

a {
    font-size: var(--fs-400);
}

nav {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.3rem;

        a {
            font-weight: var(--fw-regular);
        }
    }
}


.election {
    font-weight: var(--fw-bold);
    margin-right: 0.2rem;
}
.insights {
    color: var(--clr-accent-warm);
}

.topbar {
    background-color: var(--clr-bg-200);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* styling the checkbox to be hamburger menu */
#hamburger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.3rem
}
.line {
    width: 2rem;
    height: 0.3rem;
    background-color: var(--clr-text-900);
    border-radius: 10rem;
}
.dropdown {
    display: none;
}

.active {
    color: var(--clr-accent-warm);
}
.election-insights span {
    color: var(--clr-accent-warm);
    font-weight: var(--fw-light);
}
.subtitle>p {
    color: var(--clr-text-500);
    font-size: var(--fs-500);
    margin-bottom: 1.2rem;
}

.align, .what-do-you-think{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.what-do-you-think {
    margin-top: 2rem;
    background-color: var(--clr-bg-200);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 1rem;
    border: 2px solid var(--clr-bg-500);
    font-size: var(--fs-500);

    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    h2 {
        margin-bottom: 1rem;
    }

    p {
        margin-top: 2rem;
    }
}
.footer-title {
    font-size: var(--fs-500);
    color: var(--clr-text-100);
    margin-bottom: 0.5rem;
}



.name-card {
    margin-top: 1rem;
    margin-bottom: 3rem;
    img {
        width: 60%;
        border-radius: 1rem;
        margin-bottom: 1rem;
        border: 2px solid var(--clr-bg-500);
    }
}

.result-text>h2 {
    margin-bottom: 1rem;
}
.result-fig>h2 {
    font-weight: var(--fw-regular);
}


.result {
    mix-blend-mode: multiply;
    border-radius: 1rem;
    border: 2px solid var(--clr-text-500);
    margin-top: 1rem;
}

.two-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.dropdown-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

select {
    background-color: var(--clr-bg-200);
    padding-left: 0.5rem;
    color: var(--clr-300);
    border: 2px solid var(--clr-bg-500);
    border-radius: 0.5rem;

}

.qas {
    margin-bottom: 2rem;
}
.question {
    font-size: var(--fs-600);
    font-weight: var(--fw-regular);
    margin-bottom: 0.5rem;
}

.authors, .published {
    color: var(--clr-text-500);
    margin-bottom: 0.2rem;
}

.abstract {
    margin-top: 1.5rem;
    font-size: var(--fs-600);
}

.article {
    margin-bottom: 3rem;
}


a:hover {
    color: var(--clr-accent-warm);
}
@media screen and (min-width: 600px) and (max-width: 1000px){
    ::-webkit-scrollbar {
        width: 5px;
      }

    :root {
    --fs-400: 1.2rem;
    --fs-500: 1.3rem;
    --fs-600: 1.7rem;
    --fs-700: 2.2rem;
    --fs-800: 2.7rem;
    --fs-900: 4.2rem;
    }

    body {
        min-height: 100vh;
    }
    header {
        padding-left: 10%;
        padding-right: 10%;
        /* border: none; */
    }
   #hamburger-menu {
    display: none;
   } 
   .dropdown {
    flex-basis: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
   .topbar {
    flex-basis: 20%;
   }

   nav {
    display: flex;
    flex-direction: row;
   }

   .align {
    padding-left: 10%;
    padding-right: 10%;
   }

   footer {
    padding-left: 10%;
    padding-right: 10%;
   }
}

@media screen and (min-width: 1000px){

    ::-webkit-scrollbar {
        width: 5px;
      }

    :root {
    --fs-400: 1.2rem;
    --fs-500: 1.3rem;
    --fs-600: 1.7rem;
    --fs-700: 2.2rem;
    --fs-800: 2.7rem;
    --fs-900: 4.2rem;
    }

    body {
        min-height: 100vh;
    }
    header {
        padding-left: 10%;
        padding-right: 10%;
        /* border: none; */
    }
   #hamburger-menu {
    display: none;
   } 
   .dropdown {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
   .topbar {
    flex-basis: 0;
   }

   nav {
    display: flex;
    flex-direction: row;
   }

   .align {
    padding-left: 10%;
    padding-right: 10%;
   }

   footer {
    padding-left: 10%;
    padding-right: 10%;
   }

   .two-column {
    flex-direction: row;
    justify-content: space-between;
   }

   .wrapper {
    flex-basis: 50%;
   }
    .name-card-text {
    flex-basis: 70%;
   }
   .name-card {
    img {
        width: 25%;
        height: 25%;
    }
    margin-bottom: 5rem;
   }

   .card {
    margin-bottom: 5rem;
   }
   .result-text {
    flex-basis: 50%;
   }
   .result-fig {
    flex-basis: 40%;
   }

}






